<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SurgiApp</title>
  <link rel="stylesheet" href="../stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/pl-styles.css">
</head>
<main>

<!-- START HERE -->
<% name = current_user.username%>
<% name_url = name.downcase%>
     
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">🔭 SurgiApp</a>
      <form class="form-inline my-2 my-lg-0">
          <a class="nav-link text-light" href="/note" role="button">All items</a>
          <a class="nav-link text-light" href="/users" role="button">All users</a>
          <a class="nav-link text-light" href="/user/<%=name_url%>" role="button">My profile</a>
          <a class="btn btn-outline-success mr-3" href="/note/new" role="button">Create</a>
          <a class="btn btn-outline-light my-sm-0" href="/logout" role="button">Log out</a>
          <a class="nav-link text-light mr" href="/user/<%=name_url%>/edit" role="button">⚙</a>

      </form>
    </div>
  </nav>


  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <br><span style="font-size: 50px;"> 🎉</span><span class="h4 text-secondary">All users</span><br><br>
        </div>
      </div>
      <div class="col">
        <br>
        
        <div class="list-group">
            <a class="list-group-item list-group-item-dark">Username:</a>
          <% @all_users.each do |i| %>
          
            <a href="/user/<%=i.username.downcase%>" class="list-group-item list-group-item-action"><%= i.username.capitalize %></a>
  
          <% end %>
        </div>
        <br><br>

      </div>
    </div>
  </div>





    






</main>

</html>



<!-- <%@all_users.each do |i|%>

<%=i.username%>
<%=i.id%>


<%end %> -->